<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>tech.webmaster19083.curator.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/Application Support/Curator/curator</string>
    <string>--background</string>
    <string>--install-scope</string>
    <string>all-users</string>
  </array>
  <key>WorkingDirectory</key><string>/Library/Application Support/Curator</string>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>/Library/Application Support/Curator/launchd.out.log</string>
  <key>StandardErrorPath</key><string>/Library/Application Support/Curator/launchd.err.log</string>
</dict>
</plist>
